<section>
    <h1>Objectives</h1>

    <ul>
        <li class="fragment">Unified project structure.</li>
        <li class="fragment">Scalable architecture.</li>
        <li class="fragment">Reasonable performance.</li>
    </ul>
</section>
