<section>
    <h1>Angular Lazy Bundler</h1>

    <p>
        <small><a href="https://github.com/matoilic/angular-lazy-bundler" target="_blank">github.com/matoilic/angular-lazy-bundler</a></small>
    </p>
</section>