<section>
    <h2>Purpose</h2>

    <ul>
        <li class="fragment">Bundles each component separately into one file.</li>
        <li class="fragment">Optimizes loading process for 3rd-party packages.</li>
        <li class="fragment">Can bundle multiple components and 3rd-party packages into one file.</li>
    </ul>
</section>