<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>Bundling</h3>

    <ul>
        <li>Configure the <code>bundle</code> Gulp task to combine resources, which are needed at the same time.</li>
        <li>Use your browser's the network inspector to see the effect.</li>
    </ul>
</section>