<section>
    <h2>Incompatibilities</h2>

    <p>
        Some Angular modules cannot be asynchronously loaded because they are tightly coupled with the framework's core.
        Namely: <code>ngAnimate</code>, <code>ngRoute</code>, <code>ngSanitizer</code>, <code>ngTouch</code>.
    </p>

    <p>
        See the <a href="https://github.com/matoilic/generator-angular-lazy#incompatible-angular-modules" target="_blank">troubleshooting section</a>
        of the project generator documentation.
    </p>
</section>