<section>
    <h2>Use lazy loading for other resources</h2>

    <p>
        Apply lazy loading also to other resources than JavaScript code, e.g. images, videos or secondary content.
    </p>
</section>