<section>
    <h2>Angular Animate in Tests</h2>

    <p>
        Disable Angular Animate while running E2E tests. It causes synchronization issues within Protractor.
    </p>

    {{codeblock '08-tips/disable-animations.js'}}
</section>