<section>
    <h1>Generators</h1>

    <p>
        <small><a href="https://github.com/matoilic/generator-angular-lazy" target="_blank">github.com/matoilic/generator-angular-lazy</a></small>
    </p>
    <p>
        <img src="/images/yeoman.svg" class="title-image">
    </p>
</section>