<section>
    <h2>Application Component</h2>

    <p>
        <code>$: yo angular-lazy</code>
    </p>

    <p class="fragment" data-fragment-index="1">Generates</p>

    <ul>
        <li class="fragment" data-fragment-index="1">the project structure and sets up all tools.</li>
        <li class="fragment">the application component.</li>
        <li class="fragment">a first state.</li>
    </ul>
</section>