<section>
    <h2>State Component</h2>

    <p>
        <code>$: yo angular-lazy:state parent.child <br>[--prefix=]</code>
    </p>

    <p class="fragment" data-fragment-index="1">Generates</p>

    <ul>
        <li class="fragment" data-fragment-index="1">a new UI Router state with template, controller etc.</li>
        <li class="fragment">a new entry in states.json in the application component.</li>
    </ul>

    <p class="fragment">
        <i>States will derive from the "app" state by default.</i>
    </p>
</section>