<section>
    <h2>General Component</h2>

    <p>
        <code>$: yo angular-lazy:component name <br>[--prefix=]</code>
    </p>

    <p class="fragment" data-fragment-index="1">Generates</p>

    <ul>
        <li class="fragment" data-fragment-index="1">a UI component, which means a directive for Angular up to 1.4.</li>
    </ul>

    <p class="fragment">
        <i>Angular 1.5 will introduce the <a href="http://angularjs.blogspot.com/2015/11/angularjs-15-beta2-and-14-releases.html" target="_blank">&quot;component&quot;</a> provider. Similar as &quot;directive&quot; but enforces certain best practises.</i>
    </p>
</section>
