<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>GitHub Search</h3>

    <ul>
        <li>Develop a component, using the component generator, which we can use to search for repositories on GitHub.</li>
        <li>Use <a href="https://developer.github.com/v3/" target="_blank">GitHub's public API</a>.</li>
        <li>Write proper unit and E2E tests.</li>
    </ul>

    <p>
        <i>Styling can be done using <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>.</i>
    </p>
</section>