<section>
    <h1>Angular Lazy</h1>

    <p>
        <small><a href="https://github.com/matoilic/angular-lazy" target="_blank">github.com/matoilic/angular-lazy</a></small>
    </p>

    <p>
        <img src="/images/lazy.svg" class="title-image" style="height: auto; width: 250px;">
    </p>
</section>