<section>
    <h2>Component Loader Service</h2>

    <p>Enables us to manually load components at runtime. Useful if certain application parts are only needed when the user performs a certain action or certain criteria are met.</p>
</section>