<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>Show README Files</h3>

    <ul>
        <li>Create a component which shows the README file of a repository in a modal dialog, when you click on it's description.</li>
        <li>Use the GitHub API to first fetch the file and then render it to HTML, if it's a Markdown document.</li>
        <li>Use the <code>componentLoader</code> service to load the README component only when it's needed.</li>
    </ul>
</section>