<section section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>Project Setup</h3>

    <ul>
        <li>Create a new project using the Angular Lazy generator.</li>
        <li>Include i18n with two locales, e.g. <code>de</code> and <code>en</code>.</li>
        <li>Start the app with <code>gulp</code> and make sure it runs properly.</li>
    </ul>
</section>