<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>Project Setup</h3>

    <ul>
        <li>
            Install <code>yo</code>, <code>jspm</code>, <code>gulp</code>, and <code>generator-angular-lazy</code> via NPM. Use the <code>-g</code> flag for global installation.
        </li>
        <li>
            Create a new project using the Angular Lazy generator.<br>
            <code>$: yo angular-lazy</code>
        </li>
        <li>Include all features.</li>
        <li>Start the app with <code>gulp</code> and make sure it runs properly.</li>
    </ul>
</section>