<section>
    <h2>Purpose</h2>

    <ul>
        <li class="fragment">Loads our components and libraries.</li>
        <li class="fragment">Resolves dependencies and imports them as needed.</li>
        <li class="fragment">Sits on top of the <a href="http://wiki.ecmascript.org/doku.php?id=harmony:specification_drafts#august_24_2014_draft_rev_27" target="_blank">ES6 module loader</a>.</li>
        <li class="fragment">Uses a <a href="https://github.com/ModuleLoader/es6-module-loader" target="_blank">polyfill</a> until native support arrives.</li>
    </ul>
</section>