<section>
    <h2>JSPM</h2>

    <p>
        A companion for SystemJS.
    </p>

    <ul>
        <li class="fragment">Can install packages from different sources &ndash; called <b>repositories</b> in JSPM &ndash; like NPM, Git or Bower.</li>
        <li class="fragment">Deduplicates dependencies.</li>
        <li class="fragment">Optimizes packages for usage in the browser.</li>
        <li class="fragment">Automatically updates SystemJS configuration after installation.</li>
    </ul>
</section>