<section class="hands-on" data-state="hands-on">
    <h2>Hands-on</h2>
    <h3>Package Installation</h3>

    <ul>
        <li>Install angular-animate and angular-sanitize using JSPM.</li>
        <li>Use the Bower builds from GitHub.</li>
        <li>Add them as dependencies to the application component.</li>
        <li>Write tests to verify they are loaded properly.</li>
        <li>Try adding angular-animate as dependency of UI Bootstrap.</li>
    </ul>
</section>