<section>
    <h2>Variables</h2>

    <p>Don't use <code>var</code> any longer.</p>

    <ul>
        <li>No block scoping.</li>
        <li>Hoisting issues.</li>
        <li><a href="https://github.com/airbnb/javascript/#hoisting" target="_blank">Detailed examples.</a></li>
    </ul>
</section>