<section>
    <h2>Full List of ES6 Features</h2>

    <p>Summarized in <a href="https://github.com/bevacqua/es6" target="_blank">350 bullet points</a>.</p>

    <ul>
        <li>Generator Functions.</li>
        <li>New data structures.</li>
        <li>Symbols.</li>
        <li>And many more&hellip;</li>
    </ul>
</section>
